<template name="btsResults">
    <div class="row">
        <div class="col-md-12">
            <h4>БТС-{{btsNo}} Нәтиже</h4>
            <div class="row">
                    {{> academicYear}}
                    <label for="">Сынып</label>
                    <select class="grade">
                        <option value="7">7 cынып</option>
                        <option value="8">8 cынып</option>
                        <option value="9">9 cынып</option>
                        <option value="10">10 cынып</option>
                    </select>
            </div>
            {{#if Template.subscriptionsReady}}
            <table class="table table-striped">
                <thead>
                    <tr class="bts-header">
                        <th>#</th>
                        <th>Оқушы ID</th>
                        <th>Аты</th>
                        <th>Жөні</th>
                        <th>Физика</th>
                        <th>Химия</th>
                        <th>Жалпы тарих</th>
                        <th>Биология</th>
                        <th>Информатика</th>
                        <th>Орыс тілі</th>
                        <th>Қазақ тілі</th>
                        <th>Қазақ әдебиеті</th>
                        <th>География</th>
                        <th>Тарих</th>
                        <th>Ағылшын тілі</th>
                        <th>Түрік тілі</th>
                        <th>Алгебра</th>
                        <th>Геометрия</th>
                        <th>Жалпы</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each results}}
                    <tr>
                        <td>{{math @index "+" 1}}</td>
                        <td>{{studentId}}</td>
                        <td>{{name}}</td>
                        <td>{{surname}}</td>
                        <td>{{physics.points}}</td>
                        <td>{{chemistry.points}}</td>
                        <td>{{world_history.points}}</td>
                        <td>{{biology.points}}</td>
                        <td>{{computer_science.points}}</td>
                        <td>{{russian_lang.points}}</td>
                        <td>{{kazakh_lang.points}}</td>
                        <td>{{literature.points}}</td>
                        <td>{{geography.points}}</td>
                        <td>{{kazakh_history.points}}</td>
                        <td>{{english_lang.points}}</td>
                        <td>{{turkish_lang.points}}</td>
                        <td>{{algebra.points}}</td>
                        <td>{{geometry.points}}</td>
                        <td>{{total}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            {{else}}
            <p>Loading...</p>
            {{/if}}
        </div>
    </div>
</template>
