<template name="adminMainPage">
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Fixed Top Navbar Example for Bootstrap</title>
  </head>

  <body>

    <!-- Fixed navbar -->
    {{> adminMenu}}

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h5>Жаңа мектеп қосу</h5>
                <div class="form-inline">
        <div class="form-group">
          <label for="schoolId">ID:</label>
          <input type="text" class="form-control" id="schoolId" placeholder="3 таңбалы ID" name="schoolId">
        </div>
        <div class="form-group">
          <label for="pwd">Мектеп аты:</label>
          <input type="text" class="form-control" id="shortName" placeholder="Мектеп атауы" name="shortName">
        </div>
        <button class="btn btn-default">Қосу</button>
    </div>
            </div>
        </div>
    <div class="row">
        <div class="col-md-6">
            <h4>Мектеп тізімі</h4>
            {{#if Template.subscriptionsReady}}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Мектеп аты</th>
                        <th>Құпиясөз</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each schools}}
                    <tr>
                        <td>{{schoolId}}</td>
                        <td>{{shortName}}</td>
                        <td id="resetpassword"><button class="btn btn-warning">Жаңарту</button></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            {{else}}
            <p>Loading...</p>
            {{/if}}
        </div>
        <div class="col-md-3">
            <h4>Пәндер</h4>
            {{#if Template.subscriptionsReady}}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each subjects}}
                    <tr>
                        <td>{{subjectId}}</td>
                        <td>{{name_kz}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            {{else}}
                <p>Loading...</p>
            {{/if}}
        </div>
        <div class="col-md-3">
            <h4>Жүктеу</h4>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Пән</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>БТС-1</td>
                            <td>
                                <select name="bts1" id="bts1">
                                    <option value="enabled" {{selected "btsUpload" "1" "enabled"}}>Ашық</option>
                                    <option value="disabled" {{selected "btsUpload" "1" "disabled"}}>Жабық</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>БТС-2</td>
                            <td>
                                <select name="bts2" id="bts2">
                                    <option value="enabled" {{selected "btsUpload" "2" "enabled"}}>Ашық</option>
                                    <option value="disabled" {{selected "btsUpload" "2" "disabled"}}>Жабық</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>БТС-3</td>
                            <td>
                                <select name="bts3" id="bts3">
                                    <option value="enabled" {{selected "btsUpload" "3" "enabled"}}>Ашық</option>
                                    <option value="disabled" {{selected "btsUpload" "3" "disabled"}}>Жабық</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>БТС-4</td>
                            <td>
                                <select name="bts4" id="bts4">
                                    <option value="enabled" {{selected "btsUpload" "4" "enabled"}}>Ашық</option>
                                    <option value="disabled" {{selected "btsUpload" "4" "disabled"}}>Жабық</option>
                                </select>
                            </td>
                        </tr>
                        <tr><td></td><td></td></tr>
                        <tr>
                            <td>КБО-1</td>
                            <select name="kbo1" id="kbo1">
                                <option value="enabled" {{selected "kboUpload" "1" "enabled"}}>Ашық</option>
                                <option value="disabled" {{selected "kboUpload" "1" "disabled"}}>Жабық</option>
                            </select>
                        </tr>
                        <tr>
                            <td>КБО-2</td>
                            <select name="kbo2" id="kbo2">
                                <option value="enabled" {{selected "kboUpload" "2" "enabled"}}>Ашық</option>
                                <option value="disabled" {{selected "kboUpload" "2" "disabled"}}>Жабық</option>
                            </select>
                        </tr>
                        <tr>
                            <td>КБО-3</td>
                            <select name="kbo3" id="kbo3">
                                <option value="enabled" {{selected "kboUpload" "3" "enabled"}}>Ашық</option>
                                <option value="disabled" {{selected "kboUpload" "3" "disabled"}}>Жабық</option>
                            </select>
                        </tr>
                        <tr><td></td><td></td></tr>
                        <tr>
                            <td>TAT-1</td>
                            <select name="tat1" id="tat1">
                                <option value="enabled" {{selected "tatUpload" "1" "enabled"}}>Ашық</option>
                                <option value="disabled" {{selected "tatUpload" "1" "disabled"}}>Жабық</option>
                            </select>
                        </tr>
                        <tr>
                            <td>TAT-2</td>
                            <select name="tat2" id="tat2">
                                <option value="enabled" {{selected "tatUpload" "2" "enabled"}}>Ашық</option>
                                <option value="disabled" {{selected "tatUpload" "2" "disabled"}}>Жабық</option>
                            </select>
                        </tr>
                    </tbody>
                </table>
        </div>
    </div>
    </div> <!-- /container -->
  </body>
</template>
