<template name="schoolMenu">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">tests.bilik.kz</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <!-- <li class=""><a href="/">Басты бет</a></li> -->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Оқушылар<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/school/students">Оқушы тізімі</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Оқушы тіркеу</li>
                <li><a href="/school/student/add">Жаңа оқушы</a></li>
                <li><a href="/school/students/transfer">Трансфер тізімі</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Мұғалімдер<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/school/teachers">Мұғалім тізімі</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Мұғалім тіркеу</li>
                <li><a href="/school/teacher/add">Жаңа мұғалім</a></li>
                <li><a href="/school/teachers/transfer">Трансфер тізімі</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">БТС<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/school/bts/upload">Жүктеу</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Рейтинг</li>
                <li><a href="/bts/rating/1">БТС-1</a></li>
                <li><a href="/bts/rating/2">БТС-2</a></li>
                <li><a href="/bts/rating/3">БТС-3</a></li>
                <li><a href="/bts/rating/4">БТС-4</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Нәтиже</li>
                <li><a href="/bts/results/1">БТС-1</a></li>
                <li><a href="/bts/results/2">БТС-2</a></li>
                <li><a href="/bts/results/3">БТС-3</a></li>
                <li><a href="/bts/results/4">БТС-4</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">КБО<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/school/kbo/upload">Жүктеу</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Рейтинг</li>
                <li><a href="/kbo/rating/1">КБО-1</a></li>
                <li><a href="/kbo/rating/2">КБО-2</a></li>
                <li><a href="/kbo/rating/3">КБО-3</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Нәтижелер</li>
                <li><a href="/kbo/results/1">КБО-1</a></li>
                <li><a href="/kbo/results/2">КБО-2</a></li>
                <li><a href="/kbo/results/3">КБО-3</a></li>
                <li><a href="/kbo/final">Финал</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ТАТ<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Жүктеу</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Рейтинг</li>
                <li><a href="/tat/rating/1">ТАТ-1</a></li>
                <li><a href="/tat/rating/2">ТАТ-2</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Нәтижелер</li>
                <li><a href="/tat/results/1">ТАТ-1</a></li>
                <li><a href="/tat/results/2">ТАТ-2</a></li>
                <li><a href="/tat/final">Жалпы</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/school/profile">Профиль</a></li>
            <li><a href="/signout">Жүйеден шығу</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
</template>
