<template name="btsKeysNew">
	
	<div class="row">
		<div class="col-md-8">
              <h4>БТС Жауап кілтін қосу</h4>
              <div class="form-group">
                  <div class="form-inline">
                      <div class="form-group">
                        <label for="exampleSelect1">БТС #</label>
                        <select class="form-control" name="quarter" id="btsNo">
                            <option value="1" {{selected "btsNo" "1"}}>1</option>
                            <option value="2" {{selected "btsNo" "2"}}>2</option>
                            <option value="3" {{selected "btsNo" "3"}}>3</option>
                            <option value="4" {{selected "btsNo" "4"}}>4</option>
                        </select>
                        <label for="exampleSelect1">Күн #</label>
                        <select class="form-control" name="day" id="day">
                            <option value="1" {{selected "day" "1"}}>1</option>
                            <option value="2" {{selected "day" "2"}}>2</option>
                        </select>
                        <label for="exampleSelect1">Сынып</label>
                        <select class="form-control" name="grade" id="grade">
                            <option value="7" {{selected "grade" "7"}}>7</option>
                            <option value="8" {{selected "grade" "8"}}>8</option>
                            <option value="9" {{selected "grade" "9"}}>9</option>
                            <option value="10" {{selected "grade" "10"}}>10</option>
                        </select>
              </div>
                  </div>
              </div>
              <div class="form-group">
                <label for="name">Вариант</label>
                <input type="text" class="form-control" name="variant">
              </div>
              {{#if dayOne}}
              	<div class="form-group">
                <label for="name">Физика</label>
                <input type="text" class="form-control" name="physics" value="{{keys.physics}}">
              </div>
              {{#if gradeIsSeven}}
              	<div class="form-group">
                		<label for="surname">Дүние жүзі тарихы</label>
                		<input type="text" class="form-control" name="world_history" value="{{keys.world_history}}">
              	</div>
              {{else}}
              	<div class="form-group">
                		<label for="surname">Химия</label>
                		<input type="text" class="form-control" name="chemistry" value="{{keys.chemistry}}">
              	</div>
              {{/if}}
              <div class="form-group">
                <label for="surname">Биология</label>
                <input type="text" class="form-control" name="biology" value="{{keys.biology}}">
              </div>

              <div class="form-group">
                <label for="surname">Информатика</label>
                <input type="text" class="form-control" name="computer" value="{{keys.computer}}">
              </div>

              <div class="form-group">
                <label for="surname">Қазақ тілі(қазақ тобы)</label>
                <input type="text" class="form-control" name="kazakh_kazakh" value="{{keys.kazakh_kazakh}}">
              </div>

              <div class="form-group">
                <label for="surname">Қазақ әдебиеті(қазақ тобы)</label>
                <input type="text" class="form-control" name="literature_kazakh" value="{{keys.literature_kazakh}}">
              </div>

              <div class="form-group">
                <label for="surname">Қазақ тілі(орыс тобы)</label>
                <input type="text" class="form-control" name="kazakh_russian" value="{{keys.kazakh_russian}}">
              </div>

              <div class="form-group">
                <label for="surname">Қазақ әдебиеті(орыс тобы)</label>
                <input type="text" class="form-control" name="literature_russian" value="{{keys.literature_russian}}">
              </div>

              <div class="form-group">
                <label for="surname">Орыс тілі</label>
                <input type="text" class="form-control" name="russian" value="{{keys.russian}}">
              </div>
              {{else}}
              	<div class="form-group">
                <label for="name">Алгебра</label>
                <input type="text" class="form-control" name="algebra" value="{{keys.algebra}}">
              </div>
              <div class="form-group">
                <label for="surname">Геометрия</label>
                <input type="text" class="form-control" name="geometry" value="{{keys.geometry}}">
              </div>

              <div class="form-group">
                <label for="surname">Ағылшын тілі</label>
                <input type="text" class="form-control" name="english" value="{{keys.english}}">
              </div>

              <div class="form-group">
                <label for="surname">Түрік тілі</label>
                <input type="text" class="form-control" name="turkish" value="{{keys.turkish}}">
              </div>

              <div class="form-group">
                <label for="surname">Қазақстан тарихы</label>
                <input type="text" class="form-control" name="history" value="{{keys.history}}">
              </div>

              <div class="form-group">
                <label for="surname">География</label>
                <input type="text" class="form-control" name="geography" value="{{keys.geography}}">
              </div>
              {{/if}}
              <button class="btn btn-primary" id="save">Сақтау</button>
        </div>
	</div>
</template>